<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Street:</b>
  <%= @venue.street %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>Price:</b>
  <%= @venue.price %>
</p>

<p>
  <b>Phone:</b>
  <%= @venue.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @venue.website %>
</p>

<p>
  <b>Extra charges:</b>
  <%= @venue.extra_charges %>
</p>

<p>
  <b>Min:</b>
  <%= @venue.min %>
</p>

<p>
  <b>Image:</b>
  <%= @venue.image %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
