<!DOCTYPE html>
<html>
<head>
  <title>Find Your Venue</title>
  <%= favicon_link_tag "/marker_favi.ico" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
    <%= yield :scripts %>
    

</body>
</html>
